.main {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.main-title {
  font-size: 4rem;
}

.main-title {
  font-size: 4rem;
}

.layout {
  min-height: 50vh;
  border-radius: 20px;
  border: solid 20px #f2cc8f;
  padding: 2rem;
}
